<script lang="ts">
import Vue from 'vue';
import { MetaInfo } from 'vue-meta/types/vue-meta';
import { getPageMetadata } from '~/common/meta';
import { NextStep } from '~/components/common/index';
import { toKebabCase } from '@/lib/utils';

export default Vue.extend({
  components: {
    NextStep,
  },
  async asyncData({ $content, error }: any) {
    try {
      const doc = await $content(`pricing/licensing-faq`).fetch();
      const sideMenu = doc.side_menu;

      /* Filling the anchors data */
      sideMenu.anchors.data = doc.sections.reduce(
        (array: any, section: any) => {
          /* nodes */
          const nodes = section.items.reduce((nodesArray: any, item: any) => {
            const id = toKebabCase(item.title);
            nodesArray.push({
              text: item.title,
              href: `#${id}`,
              data_ga_name: id,
              data_ga_location: 'side-navigation',
            });
            return nodesArray;
          }, []);
          /* sections */
          array.push({
            text: section.header,
            href: `#${section.id}`,
            data_ga_name: section.id,
            data_ga_location: 'side-navigation',
            nodes,
          });
          return array;
        },
        [],
      );

      const groups = doc.sections.map((section: any) => {
        section.items.map((item: any) => {
          const copies = [{ text: item.answer, html: item.html }];
          // eslint-disable-next-line no-param-reassign
          item.copies = copies;
          return item;
        });
        return section;
      });
      const custom = { groups };
      return { doc, custom, sideMenu };
    } catch (e) {
      error({ statusCode: 404 });
      return {};
    }
  },
  head(): MetaInfo {
    return getPageMetadata((this as any).doc, this.$route.path);
  },
});
</script>

<template>
  <div class="licensing-faq">
    <SlpContainer>
      <SlpSideNavigation :data="sideMenu" class="licensing-faq__navigation">
        <template #header>
          <div class="licensing-faq__nav-buttons">
            <SlpButton
              v-for="(button, buttonIndex) in doc.side_menu.hyperlinks.data"
              :key="buttonIndex"
              :variant="button.variant"
              :href="button.href"
              :data-ga-name="button.data_ga_name"
              :data-ga-location="button.data_ga_location"
              >{{ button.text }}
              <SlpIcon
                v-if="button.icon"
                class="slp-ml-8"
                icon="gl-chevron-lg-right"
                alt="Chevron Right Icon"
              />
            </SlpButton>
          </div>
        </template>
        <div class="header">
          <SlpTypography tag="h1" variant="heading1-bold">
            {{ doc.title }}
          </SlpTypography>
        </div>
        <!-- Acordions -->
        <div class="licensing-faq__accordions">
          <PricingAuxFaq v-if="custom" :data="custom" />
        </div>
      </SlpSideNavigation>
      <SlpTopButton data-ga-name="to-top" data-ga-location="body" />
    </SlpContainer>
    <SlpContainer id="get-in-touch" variant="gradient">
      <NextStep :disable-animations="true" />
    </SlpContainer>
  </div>
</template>

<style lang="scss">
.licensing-faq {
  #get-in-touch .slp-container.slp-my-96 {
    margin-top: 32px;
  }
  .header {
    margin-top: $spacing-64;
    @media (max-width: $breakpoint-md) {
      margin-top: $spacing-32;
    }
  }
  .dropdown {
    margin-top: $spacing-16;
  }
  &__accordions {
    margin-top: $spacing-64;
    @media (max-width: $breakpoint-md) {
      margin-top: $spacing-48;
    }
  }
  .faq-md {
    ul {
      list-style: revert;
      padding: revert;
    }
    h4 {
      font-size: $text-heading-4;
      line-height: $line-height-heading-4;
      font-weight: $font-weight-normal;
      letter-spacing: $letter-spacing-heading-4;

      @media (max-width: $breakpoint-sm) {
        font-size: $text-heading-4-mobile;
        line-height: $line-height-heading-4-mobile;
        font-weight: $font-weight-normal;
        letter-spacing: $letter-spacing-heading-4-mobile;
      }
    }
    h5 {
      font-size: $text-heading-5;
      line-height: $line-height-heading-5;
      font-weight: $font-weight-normal;
      letter-spacing: $letter-spacing-heading-5;

      @media (max-width: $breakpoint-sm) {
        font-size: $text-heading-5-mobile;
        line-height: $line-height-heading-5-mobile;
        font-weight: $font-weight-normal;
        letter-spacing: $letter-spacing-heading-5-mobile;
      }
    }
  }
  &__nav-buttons {
    width: 100%;
    margin-bottom: $spacing-24;

    .slp-btn {
      width: 100%;
      justify-content: center;
      margin-bottom: $spacing-8;
    }

    .slp-btn-secondary {
      padding: 11px 0;
    }
  }

  &__to-top {
    @media (max-width: $breakpoint-md) {
      display: none;
    }
  }

  &__navigation {
    &:deep(.dropdown) {
      margin: $spacing-32 0;
    }
  }
}
</style>
