<script>
import LocationCard from './location-card.vue';

export default {
  name: 'Locations',
  components: {
    LocationCard,
  },
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
  },
};
</script>

<template>
  <section :id="data.anchor_id" class="locations">
    <SlpContainer>
      <SlpRow>
        <SlpColumn>
          <SlpTypography tag="h2" variant="heading2-bold">{{
            data.header
          }}</SlpTypography>
          <SlpTypography tag="h3" variant="body1">{{
            data.subtitle
          }}</SlpTypography>
          <div class="card-grid">
            <LocationCard
              v-for="(location, index) in data.locations"
              :key="location.city"
              :index="index"
              :data="location"
            />
          </div>
        </SlpColumn>
      </SlpRow>
    </SlpContainer>
  </section>
</template>

<style lang="scss" scoped>
.locations {
  padding-top: $spacing-96;

  @media (max-width: $breakpoint-md) {
    padding-top: $spacing-64;
  }
  h2 {
    margin-bottom: $spacing-8;
  }
}
.card-grid {
  margin-top: $spacing-32;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
</style>
